WCF-EF-WEB-APPLICATION/WebApplication/Connected Services/SoftwareServiceReference/Service1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/ProductsAPI" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/ProductsAPI" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="ArrayOfSoftware">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Software" nillable="true" type="tns:Software" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfSoftware" nillable="true" type="tns:ArrayOfSoftware" />
  <xs:complexType name="Software">
    <xs:sequence>
      <xs:element minOccurs="0" name="Id" type="xs:int" />
      <xs:element minOccurs="0" name="LicenceType" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Name" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Rank" type="xs:int" />
      <xs:element minOccurs="0" name="Version" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Software" nillable="true" type="tns:Software" />
</xs:schema>