WCF-EF-WEB-APPLICATION/WebApplication/Connected Services/SoftwareServiceReference/Service1.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="Service1" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost:53124/Service1.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost:53124/Service1.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://localhost:53124/Service1.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/ProductsAPI" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IService1_GetSoftwares_InputMessage">
    <wsdl:part name="parameters" element="tns:GetSoftwares" />
  </wsdl:message>
  <wsdl:message name="IService1_GetSoftwares_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetSoftwaresResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_AddSoftware_InputMessage">
    <wsdl:part name="parameters" element="tns:AddSoftware" />
  </wsdl:message>
  <wsdl:message name="IService1_AddSoftware_OutputMessage">
    <wsdl:part name="parameters" element="tns:AddSoftwareResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_GetSoftwareById_InputMessage">
    <wsdl:part name="parameters" element="tns:GetSoftwareById" />
  </wsdl:message>
  <wsdl:message name="IService1_GetSoftwareById_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetSoftwareByIdResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_UpdateSoftware_InputMessage">
    <wsdl:part name="parameters" element="tns:UpdateSoftware" />
  </wsdl:message>
  <wsdl:message name="IService1_UpdateSoftware_OutputMessage">
    <wsdl:part name="parameters" element="tns:UpdateSoftwareResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_DeleteSoftwareById_InputMessage">
    <wsdl:part name="parameters" element="tns:DeleteSoftwareById" />
  </wsdl:message>
  <wsdl:message name="IService1_DeleteSoftwareById_OutputMessage">
    <wsdl:part name="parameters" element="tns:DeleteSoftwareByIdResponse" />
  </wsdl:message>
  <wsdl:portType name="IService1">
    <wsdl:operation name="GetSoftwares">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/GetSoftwares" message="tns:IService1_GetSoftwares_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/GetSoftwaresResponse" message="tns:IService1_GetSoftwares_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="AddSoftware">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/AddSoftware" message="tns:IService1_AddSoftware_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/AddSoftwareResponse" message="tns:IService1_AddSoftware_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetSoftwareById">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/GetSoftwareById" message="tns:IService1_GetSoftwareById_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/GetSoftwareByIdResponse" message="tns:IService1_GetSoftwareById_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="UpdateSoftware">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/UpdateSoftware" message="tns:IService1_UpdateSoftware_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/UpdateSoftwareResponse" message="tns:IService1_UpdateSoftware_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="DeleteSoftwareById">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/DeleteSoftwareById" message="tns:IService1_DeleteSoftwareById_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/DeleteSoftwareByIdResponse" message="tns:IService1_DeleteSoftwareById_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IService1" type="tns:IService1">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetSoftwares">
      <soap:operation soapAction="http://tempuri.org/IService1/GetSoftwares" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AddSoftware">
      <soap:operation soapAction="http://tempuri.org/IService1/AddSoftware" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetSoftwareById">
      <soap:operation soapAction="http://tempuri.org/IService1/GetSoftwareById" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UpdateSoftware">
      <soap:operation soapAction="http://tempuri.org/IService1/UpdateSoftware" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DeleteSoftwareById">
      <soap:operation soapAction="http://tempuri.org/IService1/DeleteSoftwareById" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="Service1">
    <wsdl:port name="BasicHttpBinding_IService1" binding="tns:BasicHttpBinding_IService1">
      <soap:address location="http://localhost:53124/Service1.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>